{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",

    "htmlWhitespaceSensitivity": "css",
    "singleAttributePerLine": false,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}
